/* -------------------------TAKING TIME OFF------------------------------- */

.taking-time{
    text-align: center;
    margin-top: 2em;
}
.taking-time .quote{
     width: 100px;
}
.taking-time h2{
    padding: 1rem;
    font-weight: 400 !important;
    margin-bottom: 2em;
}
.taking-time .image{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/images/buildings-gf47f341de_1920.jpg');
   
}
.taking-time .plan-with-image a{
    background-color: #000;
    padding: 1rem 2rem;
    line-height: 3em;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.taking-time .plan-with-image a:hover{
    background-color: #fff;
    color: #000;
}
.taking-time .plan-with-image h2{
    padding: 0;
    margin: 1rem;
}