<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST" id="form">
        <label for="user">User</label>
        <input type="text" name="user" id="user">
        <label for="pass">Pass</label>
        <input type="text" name="pass" id="pass">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <button type="submit">Submit</button>
    </form>
</body>

</html>