<%- include('./boilerplate/header.ejs') %>

    <!-- HEADING -->
    <div class="container-fluid mb-5">
        <div class="row title-row">
            <div class="col-lg-8 col-sm-12 title-column d-flex">
                <h1 data-aos="fade-right" data-aos-duration="1200">Amenities and Spaces</h1>
            </div>
        </div>
        <div class="row image amenities_hero">
            <div class="col-lg-12 image-wrapper amenities_title" data-aos="fade-right" data-aos-duration="1200">
                <h2>Flair Tower Accolade Place Brixton Place</h2>
            </div>
        </div>
    </div>
    <!-- -------------------------FEATURES & RULES--------------------- -->
    <section class="container-fluid">
        <div class="container amenities_features" data-aos="fade-up" data-aos-duration="1200">
            <h2>Features & Rules</h2>
            <ul>
                <li>Its location is perfect, it has all the necessary amenities, and the prices are very affordable.
                    This condo is in a great location near parks and shopping.</li>
                <li>Whether you're looking for a neighborhood with both solitude and convenience, or you'd like to be
                    immersed in city life but not too far from nature, there's a place for you here. With the many
                    amenities provided at this unique community</li>
                <li>you can build a life that's just right for you. With easy access to the beach and surfers paradise,
                    shopping centers such as Pacific Mall and a wide variety of restaurants close by, it really does
                    feel like living in paradise!</li>
                <li>Enjoy the spacious, plush finishes of this 5th-floor condo with modern amenities, such as
                    dishwashers, an elegant lobby and a private rooftop terrace.</li>
            </ul>
        </div>
    </section>
    <!-- --------------NAME OF PROPERTY-------------------- -->
    <hr>
    <section class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-3 property_left" data-aos="fade-up" data-aos-duration="1200">
                <img src="/images/Allegra Garden Place-Covered Multipurpose Court-large.jpg" alt="">
                <img src="/images/gym facilities.avif" alt="">
            </div>
            <div class="col-lg-7 property_right" data-aos="fade-left" data-aos-duration="1200">
                <h2>My Property</h2>
                <p>Flair Tower Have a flair for life</p>
                <p>Find the perfect combination of homey comfort and modern in-city living in Flair Towers. Developed
                    with the typical urban family in mind, Flair Towers offers a seamless blend of resort-like and
                    country-club living. Replete with larger-than-life amenities and our signature Lumiventt design
                    technology, you can be one of the few to experience a first class cosmopolitan living in the heart
                    of the Mandaluyong.</p>
                <p>Accolade Place Open the door to a new way of life</p>
                <p>Accolade Place brings in a resort-like vibe in the heart of Quezon City. Feel the bliss with its
                    peaceful ambience, from the pool complex to its tropical landscapes, from the building courtyards to
                    your units. Fresh air and natural light freely permeate through the walls of this Asian boutique
                    condominium, making your home feel closer to nature.</p>
                <p>Brixton Place Dynamic City Living</p>
                <p>Nurture peace of mind away from the bustles of the city while providing prime comfort and
                    quality-crafted living spaces, vibrant, and secure environment. Brixton Place is a two-tower
                    vertical community rising in the residential sanctuary of Kapitolyo, Pasig City that offers luxury
                    of a panoramic view of the Makati, BGC, Ortigas and Antipolo city skylines.</p>
                <p>Arrival Court

                    Multi-Purpose Court

                    Fitness Gym

                    Game Room

                    Gazebo/ Cabana

                    Grill Pits

                    Landscaped Gardens

                    Laundry Station

                    Lounge Area

                    Main Entrance Gate

                    Open Lawn/Picnic Grove

                    Perimeter Fence

                    Pool Deck

                    Pool Shower Area

                    Provision for CCTV Cameras

                    Sky Lounge

                    Standby Electric Generator

                    Tree Court

                    View Deck

                    Water Feature

                    Water Station

                    WiFi Access</p>

                <h2>Perfect For:</h2>
                <ul>
                    <li>No. of Guests</li>
                    <li>10 pax</li>
                    <li>5 pax</li>
                    <li>2 adult 1 child</li>
                    <li>Couple Package</li>
                </ul>
            </div>
            <div class="col"></div>

            <div class="col-lg-12 amenities_pictures">
                <img src="/images/flair-towers-Arrival Court-large.jpg" alt="">
            </div>
            <div class="col-lg-12 amenities_pictures">
                <img src="/images/flair-towers-Lap Pool-large.jpg" alt="">
            </div>
            <div class="col-lg-12 amenities_pictures">
                <img src="/images/flair-towers-Lounge Area-large.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="container-fluid taking-time">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <img class="quote" src="/images/quote.png" />
                <h2 data-aos="fade-up" data-aos-duration="1200">Taking time off is the best you can do for your
                    peace of mind.</h2>
            </div>
        </div>
        <div class="row image align-items-center  plan-with-image">
            <div class="col">
                <h2 data-aos="fade-right" data-aos-duration="1200">Plan a stay with us today.</h2>
                <a href="/book-now" data-aos="zoom-in-up" data-aos-duration="1200"
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/online_booking-kodego'});return false;">BOOK
                    A SPACE</a>
            </div>
        </div>
    </section>




    <%- include('./boilerplate/footer.ejs') %>