<%- include('./boilerplate/header.ejs') %>
    <section id="contact">
        <div class="row">
            <div class="contact-featured-image">
            </div>
        </div>
        <h2 align="center">Contact Us</h2>
        <div class="row contact-row justify-content-center">
            <div class="col-6">
                <i class="fa-regular fa-envelope"></i><span class="email">
                    <a href="" style="text-decoration:none;color:inherit">urbanpalms@trips.com</a>
                </span>
                <p class="phone-number">
                    <i class="fa-solid fa-phone"></i> <span>430-462-9343</span>
                </p>
                <p class="address">
                    33518 Olga Pine Suite 835<br>
                    New Mexico, USA 16733
                </p>
            </div>
        </div>
        <div class="row">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d810.7802907985057!2d120.47689238928035!3d14.839688416885803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sph!4v1670590930099!5m2!1sen!2sph"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </section>

    <%- include('./boilerplate/footer.ejs') %>